<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
<head>
	<title>Order Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="content" class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/orders/createOrder}"
					th:object="${orderFormDetails}" method="post" class="form-horizontal"
					role="form">
					<h2>HAPPY FEASTING :)</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<select class="form-control" th:field="*{dishes}"
								id="dropOperator">
								<option th:each="dish, itemStat : *{dishes}"
										th:value="*{dishes[__${itemStat.index}__].id}"
										th:text="*{dishes[__${itemStat.index}__].title}">
								</option>
								<option value="" selected="selected">Sélect dish</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="number" th:field="*{quantity}" placeholder="Quantity"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{address}"
								placeholder="Address" class="form-control" /> <label
								th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{phoneNumber}"
								placeholder="Phone Number" class="form-control" /> <label
								th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">HYGIENE DELIEVERED</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>